/*@for $i from 1 to 6 {
  .about-us__image--$i {
    background-image: url("/img/icon-feature-$(i).svg");
  }
}*/

@for $i from 1 to 6 {
  .about-us__item--$i div{
    background-image: url("/img/icon-feature-$(i).svg");
  }
  .about-us__item--$i{
    order: $i;
  }
}
.about-us{
  @mixin container;
}
.about-us__title{
  font-size: 25px;
  font-weight: bold;
}

.about-us__image{
  width: 33px;
  height: 38px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.about-us__items{
  padding: 0;
}

.about-us__item{
  list-style-type: none;
}

.about-us__text{
  font-size: 17px;
  font-weight: bold;
}
@media (min-width: 768px){
  .about-us__item{
    width: 334px;
  }
  .about-us__items{
    display: flex;
    flex-wrap: wrap;
  }

}
@media (min-width: 1150px) {
  .about-us{
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;
  }
  .about-us__item{
    width: 350px;
  }
}
