@for $i from 1 to 6{
  .about-us__item--$i div{
    background-image: url("../img/icon-feature-$(i).svg");
  }
  .about-us__item--$i{
    order: $i;
  }
}
.about-us{
  @mixin container;
  margin-top: 25px;
  margin-bottom: 30px;
}
.about-us__title{
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

.about-us__image{
  width: 55px;
  height: 38px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-position: center top;
}

.about-us__items{
  padding: 0;
  margin: 0;
}

.about-us__item{
  list-style-type: none;
  margin-top: 30px;
}

.about-us__text{
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 15px 0 0 0;
}
@media (min-width: 768px){
  .about-us{
    margin-top: 42px;
    margin-bottom: 60px;
  }
  .about-us__item{
    width: 50%;
    margin-top: 62px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .about-us__items{
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__title{
    font-size: 43px;
  }
  .about-us__text{
    font-size: 20px;
  }
}
@media (min-width: 1150px){
  .about-us{
    padding-left: 175px;
    padding-right: 175px;
    box-sizing: border-box;
    margin-top: 51px;
  }

  .about-us__title{
    font-size: 53px;
  }
  .about-us__item{
    width: 350px;
  }
  .about-us__text{
    margin: 11px 0 0 0;
    line-height: 22px;
  }
}
