/*
.page-header__trigger{
  background: url("../img/icon-menu-close.svg") no-repeat 50% 50%;
  width: 30px;
  height: 20px;
  border: none;
  position: absolute;
  top: 27px;
  right: calc((100% - 260px)/2);
}


.page-header--no-js{
  .page-header__trigger{
    display: none;
  }
}
.page-header__menu{
  padding: 0;
  margin: 0;
}

.page-header__menu-item{
  list-style-type: none;
  height: 79px;
  border-bottom: 1px solid $items-border-color;
  display: flex;
  flex-direction: column;

  &--search{
    a {
      background: url("../img/icon-search.svg") no-repeat left center;
    }
  }
  &--cart{
    a {
      background: url("../img/icon-cart.svg") no-repeat left center;
    }
  }
  a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: #000000;

    padding-left: 45px;
    @mixin container;
    margin: auto;
    box-sizing: border-box;
    &:hover{
      color: $base-color-hover;
    }
    &:active{
      color: $base-color-down;
    }
  }
}

@media (min-width: 768px){
  .page-header__menu{
    display: flex;
    width: 100%;
  }
  .page-header__trigger{
    display: none;
  }
}

*/
