.modal{
  @mixin container;
}
.modal__title{
  font-size: 25px;
  font-weight: bold;
}

.modal__text{
  font-size: 15px;
}

.modal__label{
  border: 1px solid #ececec;
}

.modal__form{
  display: flex;
  flex-direction: column;
}

.modal__items{
  display: flex;
  justify-content: center;
}
