.page-footer{
  background-color: $background-lightgray;
}
.page-footer__container{
  @mixin container;
}
.page-footer__logo{
  display: none;
  a:hover path{
    fill: $img-color-hover;
  }
  a:active path{
    fill: $img-color-active;
  }
}
.page-footer__social-link{
  margin: 23px 20px;
  &:hover path{
    fill: $img-color-hover;
  }
  &:active path{
    fill: $img-color-active;
  }
}
.page-footer__social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.page-footer__copyright{
  display: flex;
  justify-content: center;
  padding: 7px 0 10px 0;
  align-items: center;
  text-decoration: none;
  color: $text-color;
}
.page-footer__copyright-text{
  margin-right: 30px;
  font-size: 19px;
  font-weight: bold;
}
.page-footer__copyright:hover {
  color: $text-color-hover;
  path{
    fill: $img-color-hover;
  }
}
.page-footer__copyright:active{
  color: $text-color-active;
  path{
    fill: $img-color-active;
  }
}
.page-footer__copyright-logo{
  display: block;
  margin-left: 25px;
  width: 27px;
  height: 34px;
  background: url("../img/logo-htmlacademy.svg");
}

@media (min-width: 768px) {
  .page-footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 30px;
  }
  .page-footer__logo{
    display: block;
  }
  .page-footer__social-links{
    flex-basis: 33%;
    border: none;
  }
  .page-footer__logo{
    flex-basis: 33%;
  }
  .page-footer__copyright{
    flex-basis: 33%;
    justify-content: flex-end;
    padding-top: 12px;
  }
}
