.page{
/*  @mixin container;*/
}
.page__title{
  font-size: 27px;
  font-weight: bold;
  background-color: $background-lightgray;
}
.page__description{
  color: $base-text-color-light;
  font-size: 13px;
}
