.reviews{
  margin: 50px 0 44px 0;
}
.reviews__container{
  @mixin container;
  position: relative;
  display: flex;
  flex-direction: column;
}
.reviews__title{
  font-size: 25px;
  font-weight: bold;
  margin: 0;

}
.reviews__item{
  margin: 25px 0 22px 0;
  line-height: 30px;
  font-size: 14.5px;
}
.reviews__arrow-btn{
  width: 50%;
  display:inline-block;
  height: 51px;
  border: 1px solid $items-border-color;
  padding:0;
  &--prev{
    background: $btn-background-color url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
  }
  &--next{
    background: $btn-background-color url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
  }
}
.reviews__author{
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  color: $base-text-color-light;
  line-height: 30px;
}
.reviews__author-id{
  font-size: 17px;
  font-weight: normal;
}
.reviews__nav {
  margin-top: 30px;
}
.reviews__write{
  width: 100%;
  order: 1;
  margin-top: 35px;
}
@media (min-width: 768px){
  .reviews{
    background: url("../img/review@1x.jpg") no-repeat 0 50%;
    background-size: auto 100%;
  }
  .reviews__container {
    padding-top: 78px;
    padding-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .reviews__write{
    order: 0;
    flex-basis: 25%;
    margin-left: auto;
    margin-top: 0px;
  }
  .reviews__title{
    font-size: 43px;
  }
  .reviews__item {
    font-size: 17px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .reviews__author{
    display: flex;
    flex-direction: column;
  }
  .reviews__nav{
    margin-left: auto;
    flex-basis: 25%;
    margin-top: 0;
  }
  .reviews__arrow-btn {
    border: none;
  }
}
@media (min-width: 1150px){
  .reviews {
    @mixin container;
    margin-bottom: 65px;
  }
  .reviews__container {
    padding-left: 16.5%;
    padding-bottom: 100px;
    padding-top: 70px;
    width: 100%;
    box-sizing: border-box;
  }
  .reviews__title{
    font-size: 53px;
  }
  .reviews__item {
    width: 90%;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .reviews__nav{
    flex-basis: 20%;
  }
  .reviews__write{
    flex-basis: 20%;
  }
}
