@for $i from 1 to 6 {
  .about-us__image--$i {
    background-image: url("/img/icon-feature-$(i).svg");

  }
}

.about-us__image{
  width: 33px;
  height: 38px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.about-us__items{
  padding: 0;
}
.about-us__item{
  list-style-type: none;
}

