@font-face{
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2");
}

@font-face{
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
}
body{
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Tahoma", sans-serif;
  background-color: $base-bg-color;
}

.btn{
  display: block;
  height: 50px;
  font-weight: bold;
  font-size: 17px;
  color: $btn-text-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 51px;
  background-color: $btn-background-color;
  border: 2px solid $btn-text-color;
  outline: none;
  &:hover{
    color: $btn-text-color-reverse;
    background-color: $btn-background-color-reverse;
  }
  &:active{
    color: $btn-text-color-active;
    background-color: $btn-background-color-reverse;
  }
}
.btn--teal{
  color: $group-btn-text-color;
    background-color: $interior-btn-color;
    border: 1px solid $interior-btn-color;
  &:hover{
    color: $group-btn-text-color-hover;
    background-color: $interior-btn-color-active;
  }
  &:active{
    color: $group-btn-text-color-hover;
    background-color: $interior-btn-color-active;
  }
}

.section-saparator{
  height: 7px;
  background: url(../img/bg-zigzag-line.svg);
  background-repeat-x: repeat;
  background-size: contain;
}
@media (min-width: 768px){
  .section-saparator{
    height: 17px;
  }
}
@media (min-width: 1150px){
  .section-saparator{
    height: 20px;
  }
}
input{
  outline: none;
}
button{
  outline: none;
}
