@font-face{
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff");
  font-weight: bold;
}

body{
  font-family: "Open Sans";
  min-width: 320px;

  background-color: $base-bg-color;
  margin: 0;
}

.btn{
  border: 1px solid $btn-text-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  color: $btn-text-color;
  text-transform: uppercase;
  text-align: center;
  background-color: $btn-background-color;
  height: 50px;
  line-height: 51px;
  display: block;
  &:hover{
    background-color: $btn-background-color-reverse;
    color: $btn-text-color-reverse;
  }
  &:active{
    background-color: $btn-background-color-reverse;
    color: $btn-text-color-active;
  }
  &--teal{
    background-color: $interior-btn-color;
    border: 1px solid $interior-btn-color;
    color: $group-btn-text-color;
  }
}
